$whitey     : hsla(0, 0%, 99%, 1);
$blackey    : hsla(0, 0%, 20%, 1);

$blue       : hsla(200, 98%, 50%, 1);
$darkblue   : hsla(200, 98%, 40%, 1);
$light-blue : hsla(200, 98%, 60%, 1);

$light-red  : hsla(0, 100%, 67%, 1);
