@import 'colors';

$background_color : $whitey;
$foreground_color: $blackey;
$header_color : $blue;

$profil-size: 150px;
$profil-border: 3px;
$profil-wrap: $profil-size + 2*$profil-border;
$profil-lh: $profil-size + $profil-border;

body {background-color: $whitey;}

.main_content {
  font: {
    family: "Arial", "Liberation Sans", sans serif;
    size: 1.2rem;
    weight: 400;
  }
  width: 1000px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  color: $foreground_color;
  background-color: $background_color;
  @media (max-width: 999px) {
    width: 750px;
    font-size: 1rem;
  }
  text-align: justify;
  line-height: 1.5rem;
}

//General classes*******************************************************
.ib {
  display: inline-block;
  vertical-align: top;
}

.hidden {
  display: none;
}

//Section style*********************************************************
header {
  font-size: 1.8rem;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  color: $header_color;
}

h2 {
  font-size: 1.4rem;
  color: $header_color;
}

h1:after, h2:after {
  content: " :";
}

footer {
  width: inherit;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: inherit;
  z-index: 9999;
}

em {
  //font-variant: small-caps;
}

//Dedicated classes*****************************************************
.top {
  width: inherit;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;

  .infos {
    flex: 1;
    h1 {margin-top: 0;}
  }
}

.profil {
  background-color: lighten($background_color, 20%);
  width: $profil-wrap;
  height: $profil-wrap;
  line-height: $profil-lh;
  text-align:center;
  img {vertical-align: middle;}
}

.profil:hover {
  background-color: $header_color;
  transition: background-color 2s;
}

.infos > ul {
  list-style-type: none;
}

.keyword {
  text-decoration: underline wavy $light-red;
}


/* TABS MANAGEMENT *****************************************************/
$tabs_active_background : lighten($header_color, 0%);
$tabs_active_foreground : $background_color;
@import 'tabs';
