/******************** Globals ********************/
body {
  background-color: #fcfcfc;
  font-family:
    'Arial',
    'Liberation Sans',
    sans serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

/******************** Header ********************/

header {
  font-size: 1.8rem;
  background-color: #03a9fc;
  color: #fcfcfc;
}

header ul {
  font-size: 1.2rem;
  text-indent: -0.5rem;
  margin-left: 0.5rem;
}

header section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  header section {
    width: 90%;
  }
}

header a {
  color: #0287ca;
  text-decoration: none;
}

header a:hover {
  color: #fcfcfc;
  transition: color 1s;
}

.top {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  margin-bottom: 1rem;
}

.top .infos {
  flex: 1;
}

.top .infos h1 {
  margin-top: 0;
}

.top_bar {
  width: 100%;
  height: 40px;
  background-color: #0287ca;
  color: #fcfcfc;
}

.profil {
  background-color: white;
  width: 156px;
  height: 156px;
  line-height: 153px;
  text-align: center;
}

.profil img {
  width: 150px;
  height: 150px;
  vertical-align: middle;
}

.profil:hover {
  background-color: #35bafd;
  transition: background-color 2s;
}

/******************** Main document ********************/

.main_content {
  width: 80%;
  margin: auto;
  line-height: 1.8rem;
}

@media print {
  .main_content {
    width: 100%;
    font-size: 1.08rem;
    line-height: 1.44rem;
    margin: 0;
    padding: 0;
  }
}

.wrapper {
  padding-left: 2.5%;
  padding-right: 2.5%;
  display: flex;
}

#left-side {
  width: 50%;
  margin-right: 1rem;
}

#right-side {
  width: 50%;
  margin-right: 0rem;
}

@media (max-width: 1400px) {
  .main_content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper {
    padding-left: 0.5%;
    padding-right: 0.5%;
    flex-direction: column;
    align-items: center;
  }
  #left-side,
  #right-side {
    width: 95%;
    margin-right: 0rem;
  }
}

.main_content section {
  border: 2px solid #35bafd;
  margin: 0.5rem;
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
  color: #03a9fc;
  margin: 0 0 1rem 0;
}

.timeline > ul {
  border-left: 2px solid black;
  border-bottom: 1px dotted #ddd;
  list-style: none;
  margin: 0;
  margin-left: 100px;
}

.timeline ul {
  padding-inline-start: 1rem;
}

.timeline-year {
  position: relative;
  left: -80px;
  transform: rotate(45deg);
  transform-origin: top left;
}

.ib {
  display: inline-block;
  vertical-align: top;
}

.hidden {
  display: none;
}

.infos > ul {
  list-style-type: none;
}

.keyword {
  color: #35bafd;
}

ul.no-list {
  list-style: none;
}

/******************** *** ********************/
